body {
	direction: rtl;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #F8FFFF;
}

nav, a, button {
    min-height: 48px;
    min-width: 48px;
}

.messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0;
}
.messages li { 
    padding: 5px 10px;
    font-size: 16px;
    word-wrap: wrap;
    word-break: break-all;
}
.messages li:nth-child(odd) { 
    background: #eee; 
}   

span {
    white-space: pre-line;
}

input[type="text"] {
    width: 200px;
    height: 20px;
}

textarea {
    resize: none;
}

a:link {
    text-decoration: none;
    color: #000;
}

a:visited { 
    color: #000;
}

/* USER */

.userFrame {
    font-size: 17px;
    box-sizing: border-box;
	width: 100%;
    height: 130px;
    margin-top: 80px;
}

.userTitle {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    line-height: 25px;
    padding-right: 10px;
}

.userLine {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    line-height: 50px;
    height: 60px;
}

.userCell {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    float: left;
}

/* CHAT */

.chatMain {
    font-size: 17px;
    box-sizing: border-box;
	width: 100%;
    height: 530px;
    margin: 20px auto;
}

.chatTitle {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    text-align: center;
}

.chatFrame {
    box-sizing: border-box;
    width: 100%;
    height: 470px;
    background-color: white;
}

.chatText {
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid rgb(226, 226, 226);
    width: 100%;
    height: 400px;
    overflow: auto;
}

.chatLine {
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 1px solid rgb(226, 226, 226);
    border-bottom: 1px solid rgb(226, 226, 226);
    border-right: 1px solid rgb(226, 226, 226);
    width: 100%;
    height: 70px;
}

.chatCellText {
    box-sizing: border-box;
    width: 85%;
    height: 100%;
    float: left;
}

.chatCellBut {
    box-sizing: border-box;
    text-align: center;
    line-height: 50px;
    width: 15%;
    height: 100%;
    float: left;
}

.credits {
    text-align: center;
    width: 100%;
    height: 30px;
}

.error {
    color: red;
}

/* UP */
.header-cont {
    box-sizing: border-box;
    width:100%;
    height: 50px;
    position: fixed;
    border-bottom: 1px solid #D6D6C2;
    background-color: #F0F0F0;
    top: 0;
    left: 0;
    font-size: 20px;
}

.containerBut {
    text-align: center;
}

/* 404 */
.e404 {
    text-align: center;
    margin: 100px auto;
    font-size: 100px;
    color: rgb(116, 75, 75);
}