body {
    background-color: white;
}

.chatFrame {
    width: 520px;
    margin-left: auto;
    margin-right: auto;
}

.chatMessagesFrame {
    height: 570px;
}

.chatMessagesArea {
    height: 500px;
}

.userFrame {
    width: 520px;
    margin-left: auto;
    margin-right: auto;
}
