<%- contentFor('MAIN') %>

<script>
	var errUser = false, errPass1 = false, errPass2 = false, errEmail = false, err = false;
	var valPass1 = "", valPass2 = "";
	var arrInput = new Array;
    $(document).ready(function () {
		$("#user").click(function() {
			$('.hint').text("שם המשתמש צריך להיות בין 4 ל-16 תווים מספריים ואותיות אנגליות בלבד");
			$("#user").keyup(function() {
				var val = this.value; //התווים עצמם
				if (val.length == 0) { //אם האורך לא נכון
                	errHandler(101);
					errUser = false;
				} else if (val.length > 16 || val.length < 4) { //אם האורך לא נכון
					errHandler(1);
					errUser = false;
				} else {
					err = checkEnglish(val);
                    if (err == false) {
                    	errHandler(2);
						errUser = false;
                	} else {
                        errHandler(101);
						errUser = true;
					}
				}
			});
		});
		$("#pass1").click(function() {
			$('.hint').text("הסיסמא צריכה להיות בין 4 ל-16 תווים מספריים ואותיות אנגליות בלבד");
			$("#pass1").keyup(function() {
				valPass1 = this.value; //התווים עצמם
				if (valPass1.length == 0) { //אם האורך לא נכון
                	errHandler(102);
					$("#pass2").prop('disabled', true); //חוסם את האימות סיסמה
					errPass1 = false;
				} else if (valPass1.length > 16 || valPass1.length < 4) { //אם האורך לא נכון
					errHandler(3);
					$("#pass2").prop('disabled', true); //חוסם את האימות סיסמה
					errPass1 = false;
				} else {
					$("#pass2").prop('disabled', false);
					err = checkEnglish(valPass1);
                    if (err == false) {
                    	errHandler(4);
						errPass1 = false;
						$("#pass2").prop('disabled', true); //חוסם את האימות סיסמה
                	} else {
						errHandler(102);
						var pass2Disabled = $('#pass2').prop('disabled');
						if (pass2Disabled == false) {
							errPass1 = check2Pass(valPass1, valPass2);
						}
						errPass1 = true;
					}
				}
			});
		});
	}); //סופ הסקריפט
</script>

<main>
    <form id='logForm' name='logForm' action='' onsubmit='return checkButLog()' method='POST'>
		<div class="formMain">
			<div class="formTitle"><h1>מערכת משתמשים - התחברות</h1></div>
		    <div class="formLine"> <span class="hint"></span> </div>
			<div class="formLine"> <label for="user">שם משתמש</label> <span class="error errUser"></span> </div>
			<div class="formLine"> <input type='text' id='user' name='user' maxlength='15' title="שם משתמש" placeholder='שם משתמש'> </div>
			<div class="formLine"> <label for="pass">סיסמה</label> <span class="error errPass"></span> </div>
			<div class="formLine"> <input type='password' id='pass' name='pass' maxlength='16' title="סיסמה" placeholder='סיסמה'> </div>
			<div class="formLine">
				<div class="formCell"><a href='register'>אין לי חשבון</a> , <a href=''>שכחתי סיסמה</a></div>
				<div class="formCell"><input type="submit" id="logBut" name="logBut" value="התחבר"></div>
			</div>
		</div>
    </form>
</main>